* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  display: flex;
  justify-content: center;
}

.img-logo {
  width: 100px;
}

.container-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-person {
  width: 200px;
  margin: 8rem 1rem;
}

.img-person:hover {
  transform: scale(1.1);
}
